version: '3'
services:
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      # MONGO_INITDB_ROOT_USERNAME: root
      # MONGO_INITDB_ROOT_PASSWORD: bs_1234
      MONGO_INITDB_DATABASE: book_store
    ports:
      - "27016:27017"
    volumes:
      - ./database/initMongo/initDB.js:/docker-entrypoint-initdb.d/initDB.js:ro