<!DOCTYPE html>

<head>

    <script>

        const getBookInfo = async function (customer_id, book_id) {
            const response = await fetch('http://127.0.0.1:2013/api/auth/customer/' + customer_id + '/book/' + book_id, {
                method: 'GET',
            });
            const myJson = await response.json(); //extract JSON from the http response
            // do something with myJson
            console.log(myJson)

            return (true, myJson)
        }

    </script>

</head>

<body>
    <button type="submit" onclick="getBookInfo('5cc967ab2daf5e525551304d', '5cfe859b2daf5e6ca2ffbfa2')">Get book info</button>
</body>

</html>